/*_________________machineGrid style______________*/
.machineGrid {
	display:flex;
	/*flex-wrap: wrap;   NEEDED????   */ 
	flex-flow: row wrap; /*keeps all rows inside of machineGrid div*/
	padding:15px;
	width : 70%;
	height:50%;
	background-color: rgba(84, 255, 195, 0.2);
	border-radius: 10px;
	box-shadow: 4px 3px 10px black;
}

.machineGrid button {
	background: #962f22; 
    background: -webkit-linear-gradient(to right, #db6c5e, #962f22); 
    background: linear-gradient(to right, #db6c5e, #962f22); 
/*	border: 1px solid black;
*/	border-style: outset;
	border-radius: 1.5em;
	border-color: white;
	padding:2px;
	height: 3em;
	flex: 1 1 5%;  /*button width*/
	margin: 1.5% 3.5%;
}

.machineGrid button:hover {
    background: #fc4f3c; 
    background: -webkit-linear-gradient(to right, #fc4f3c, #bf3a2b); 
    background: linear-gradient(to right, #fc4f3c, #bf3a2b); 
}

.machineGrid button.on {
	background: #48ea8e; 
    background: -webkit-linear-gradient(to right, #48ea8e, #21af5f); 
    background: linear-gradient(to right, #48ea8e, #21af5f); 

}

.machineGrid button.first::before { /* Adds the inst name next to first button!!! */

}

.machineGrid button.playHead {
	background: #5bdbff; 
    background: -webkit-linear-gradient(to right, #5bdbff, #279bbc); 
    background: linear-gradient(to right, #5bdbff, #279bbc);
}

/*_______________________OTHER STYLES_____________________*/

body {
	background: #2C3E50;  
    background: -webkit-linear-gradient(left, #4CA1AF, #2C3E50);
    background: -o-linear-gradient(left, #4CA1AF, #2C3E50);
    background: linear-gradient(to right, #4CA1AF, #2C3E50);   
    display: flex;
    justify-content: center;
    align-content: center; 
}

.clearBtn, .saveBtn, .moarBtn{
	border-style: outset;
	border-color:white;
}

.clearBtn{
	background: #ff4747; 
    background: -webkit-linear-gradient(left, #ff4747, #7c4545);
    background: -o-linear-gradient(left, #ff4747, #7c4545);
    background: linear-gradient(to right, #ff4747, #7c4545);  
}




.container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-top:20px;

}


::-webkit-input-placeholder { 
    color:rgba(150,150,150,.5);
}


.defaultDiv{
	margin-top:15px;
	width:45%;
	text-align: center;
}

.distDiv{
	width:45%;
	text-align: center;
}

.opsButtons{
	margin-top:15px;
}

.item{
	margin-left:auto;
	margin-right:auto;
	align-self: auto;
	align-content: center;
}

.moarBtn {
	background: #4db0f2; 
    background: -webkit-linear-gradient(left, #4db0f2, #5b829b);
    background: -o-linear-gradient(left, #4db0f2, #5b829b);
    background: linear-gradient(to right, #4db0f2, #5b829b);
}

.saveBtn{
	background: #78e575; 
    background: -webkit-linear-gradient(left, #78e575, #607f5f);
    background: -o-linear-gradient(left, #78e575, #607f5f);
    background: linear-gradient(to right, #78e575, #607f5f);
}

.sliders{
	background:red;
}


.titleInput {
	background-color:transparent;
	border-style: none;
	text-align: center;
	color: white;
	font-size: 45px;
	margin-top: 15px
}